{
    "name": "kconfig",
    "deps": [
        "bitflags",
        "cpp",
        "cpp_build",
        "env_logger",
        "kconfig_impl",
        "kde_frameworks",
        "lazy_static",
        "log",
        "qmetaobject",
        "qmetaobject",
        "qttypes",
        "qttypes",
        "semver"
    ]
}